{% extends 'layout.html' %}

{% block body %}
<div class="container-sm">
        <div class="row justify-content-md-center">
            <form class="border border-light p-5" action="/contact" method="POST">

                <p class="h4 mb-4 text-center">Contact us</p>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for c, message in messages %}
                            <div class="alert alert-{{c}}" role="alert">
                                {{message}}
                              </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                <label for="textInput">Name</label>
                <input type="text" id="textInput" name="name" class="form-control mb-4" placeholder="Name">

                <label for="textInput">Mobile number</label>
                <input type="text" name="phone" pattern="[6789][0-9]{9}" id="textInput" class="form-control mb-4" placeholder="Mobile number" maxlength="10" size="10">

                <label for="textInput">Email address</label>
                <input type="email" name="email" id="textInput" class="form-control mb-4" placeholder="Email address">

                <label for="textarea">Message</label>
                <textarea id="textarea" name="msg" class="form-control mb-4" placeholder="Message" rows="7" cols="50" maxlength="250" size="250"></textarea>

                <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
            </form>
        </div>
</div>
{% endblock body %}