{% extends 'layout.html' %}
{% block body %}
    
    
    
  <div class="container">
    {% if flag %}
    <ul class=flashes>
      <div id="flash" class="alert alert-success" role="alert" style="text-align: center;">
        Congratulations! You are logged in now.
      </div>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
      {% for category, message in messages %}
      <div id="flash" class="alert alert-{{ category }}" role="alert" style="text-align: center;">
        {{ message }}
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-12" style="margin-top: 20px;">
        <span style="font-size: 25px;">Welcome {{ user[0].f_name.capitalize() }}</span>
        <input type="button" class="btn btn-warning float-right" data-toggle="modal" data-target="#logout" value="Log out">
        <a href="/new_post"><input type="button" class="btn btn-primary float-right" style="margin-right: 10px;" value="New post"></a>
      </div>
    </div>
    
    <!-- Logout modal -->
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log out</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              Do you want to logout?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a  href="/logout"><button type="button" class="btn btn-primary">Logout</button></a>
          </div>
        </div>
      </div>
    </div>
    <!--Post tables-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Profile</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table" style="margin-top: 0px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Serial no.</th>
              <th scope="col">Post title</th>
              <th scope="col">Post content</th>
              <th scope="col">Operations</th>
            </tr>
          </thead>
          <tbody>
            {% set count = 1 %}
            {% for post in posts %}
            <tr>
              <th scope="row">{{ count }}</th>
              <td>{{ post.p_title }}</td>
              <td>{{ post.p_content[:70] }}...</td>
              <td><a href="/edit/{{ post.p_slug }}"><button type="button" class="btn btn-outline-primary">Edit</button></a>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                  data-target="#deletemodal">Delete</button></td>
            </tr>
            <!-- Delete modal -->
            <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Do you want to delete this post?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="/delete/{{ post.p_slug }}"><button type="button" class="btn btn-primary">Delete</button></a>
                  </div>
                </div>
              </div>
            </div>
            {% set count = count + 1 %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="jumbotron">
          <p class="lead" style="float: right;">
            <a class="btn btn-primary" href="#" role="button">Edit</a>
          </p>
          <h3 class="display-6">Your details</h3>
          <hr class="my-4">
          <label>First name : {{ user[0].f_name }} </label><br>
          <label>Last name : {{ user[0].l_name }} </label><br>
          <label>Email address : {{ user[0].email }} </label><br>
          <label>Phone number : {{ user[0].phone }} </label><br>
          <label>Password : {{ user[0].password }} </label><br>
          <label>Date of birth : {{ user[0].dob }} </label><br>
          
        </div>
      </div>
    </div>
    
    
    </div>

     

        
        
    <script>
        window.setTimeout(function() 
        {
            $(".alert").fadeTo(500, 0).slideUp(500, function()
            {
                $(this).remove(); 
            });
        }, 2000);
    </script>
{% endblock body %}